.comment-item {
    border-bottom: 1px solid gray;
}
*{
    padding: 0;
    margin:0;
}
.pinglun {
    width: 100%;
}

.foot {
    text-align: center;
}

.foot button:nth-child(2) {
    margin-left: 50px;
}
